[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
altair = "*"
pandas = "*"
scikit-learn = "*"
plotly = "*"
numpy = "*"
notebook = "*"
matplotlib = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.11"
